@import "bootstrap/dist/css/bootstrap.min.css";

.full-view {
  height: 145vh;
  width: 100vw;
  /* border: 3px solid blue; */
  /* background: red; */
  position: relative;
  overflow: hidden;
}

li {
  list-style: none;
}

@media screen and (max-width: 865px) {
  .full-view {
    height: 100%;
    overflow: auto;
  }
}
